/* Prevent RTD sidebar style from shrinking our GitHub badge */
.github-org-badge {
  height: auto !important;
  width: auto !important;
  background: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

/* Change the background color of the entire sidebar container */
.wy-side-nav-search {
  background-color: #F2F2F2 !important;  /* Replace with the desired color */
}